@tailwind base;
@tailwind components;
@tailwind utilities;

.lawHeader{
  background: transparent;
  background-image: url(./assets/header.png);
  background-size: contain;
  width: 100%;
  background-repeat: no-repeat;
  height: 200px;
  position: fixed;
  z-index: 1000;
}
.hero-wrapper{
  position: relative;
}
.hero-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: linear-gradient(225deg, rgba(196, 196, 196, 0.00) 0%, rgba(255, 255, 255, 0.99) 100%);
  z-index: 1;
}
.hero-wrapper::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./assets/hero.png) ;
  background-size: cover;
  z-index: 0;
}
section{

  min-height: 100vh;
  z-index: 100;
  position: relative;
}
.wrapper-servicess {
  position: relative;
}
.about {
  position: relative;
}

.about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 66%;
  height: 100%;
  background-color: #1E2543;
  z-index: -1;
}
.wrapper-servicess::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.54);
  z-index: 1;
}

.wrapper-servicess::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./assets/services_bg.png);
  background-size: cover;
  z-index: 0;
}
.card{
  background: #FFF;
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.25);

}
.wrapper-contact {
  position: relative;
  height: 50vh; /* Set the height to 50vh */
}

.wrapper-contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(177, 185, 255, 0.54);
  background-size: 70vh;
  z-index: 1;
}

.wrapper-contact::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh; /* Set the height to 50vh */
  background-image: url(./assets/services_bg.png);
  background-size: cover; /* Use 'cover' to ensure the image covers the entire area */
  background-repeat: no-repeat;
  z-index: 0;
}
.contactCard{
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.13);
}
.imgCard img{
  max-width: none;
}