@tailwind base;
@tailwind components;
@tailwind utilities;

.vector {
  position: absolute;
  z-index: 2;
}

@media (max-width: 1024px) {
  .vector {
    display: none;
  }
}

@media (min-width: 1025px) {
  .vector {
    flex-shrink: 0;
  }
}
.lawHeader {

  background-size: cover;
  width: 100%;
  height: 100px;
  background: linear-gradient(-90deg, #141940 0%, #374269 100%);

}


@media (max-width: 767px) {
  .lawHeader {
    height: 100px;
    background: linear-gradient(-90deg, #141940 0%, #374269 100%);
    
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .lawHeader {
    height: 100px;
    background: linear-gradient(-90deg, #141940 0%, #374269 100%);
  }
}
.hero-wrapper{
  position: relative;
}
.logo{
  z-index: 30;
}
.hero-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(225deg, rgba(245, 245, 245, 0) 0%, rgba(255, 255, 255, 0.99) 100%);
  z-index: 1;
}
.hero-wrapper::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./assets/hero.png) ;
  flex-shrink: 0;
  background-size: cover;
  z-index: 0;
}
section{

  min-height: 90vh;
  z-index: 10;
  position: relative;
}
.wrapper-servicess {
  position: relative;
}
.about {
  position: relative;
}

.about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 66%;
  height: 100%;
  background-color: #1E2543;
  z-index: -1;
}
@media only screen and (max-width: 767px) {
  .about::before {
    width: 100%;
  }
}
.wrapper-servicess::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.54);
  z-index: 1;
}

.wrapper-servicess::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./assets/services_bg.png);
  background-size: cover;
  z-index: 0;
}
.card{
  background: #FFF;
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.25);

}
.wrapper-contact {
  position: relative;
  height: 50vh; /* Set the height to 50vh */
}

.wrapper-contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(177, 185, 255, 0.54);
  background-size: 70vh;
  z-index: 1;
}

.wrapper-contact::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh; /* Set the height to 50vh */
  background-image: url(./assets/services_bg.png);
  background-size: cover; /* Use 'cover' to ensure the image covers the entire area */
  background-repeat: no-repeat;
  z-index: 0;
}
.contactCard{
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.13);
}
.imgCard img{
  max-width: none;
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.25);

}
 
.footerIcon{
  cursor: pointer;
}